Source: zclassic
Section: utils
Priority: optional
Maintainer: Zclassic <dev@example.com>
Homepage: https://github.com/hairetikos/zclassic3
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/hairetikos/zclassic3.git
Vcs-Browser: https://github.com/hairetikos/zclassic3

Package: zclassic
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Zclassic is a decentralized, private cryptocurrency
 Zclassic is a fork of Zcash without the founders reward, descended from
 Bitcoin's design via the Zerocash protocol. It offers a high standard of
 privacy and anonymity, using a zero-knowledge proving scheme to preserve
 confidentiality and hide the connections between shielded transactions.
 This package provides the daemon, zclassicd, and a CLI tool, zclassic-cli,
 to interact with the daemon.
